# Dependencies
node_modules

combined.log

README.md

CONTRIBUTING.md

CHANGELOG.md

test.http
# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
